$main-color:#FF6060;

.errorPage {
    display:flex;
    flex-direction: column;
    gap:139px;
    text-align : center;
    margin:139px 0 139px 0;
    color: $main-color;

    h1 {
        font-size: 288px;
        font-weight: 700;
    }
    p {
        font-size: 36px;
        font-weight: 500;
    }

    a {
        color: black;
        font-size: 18px;
    }

}