$color-primary : #ffffff;


.gallery {
    display:flex;
    width: 87%;
    height:auto;
    background: #F6F6F6;
    border-radius: 25px;
    padding: 50px 0;
    align-self: center;
    
    @media (max-width: 376px) {
        width:335px;
        background: #ffffff;
        padding: 0;
    }

    .gallery__cards{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        gap:50px;
        justify-content: center;
        
        @media (max-width: 1320px) {
            gap:20px;
        }

        .card {
            position:relative;
            width:340px;
            height:340px;
            
            &::after {
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;                
                position: absolute;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);
                z-index:1 ;
            }
                
            
            @media (max-width: 376px) {
                width:335px;
                height:225px;
            }

            img {
                width:100%;
                height:100%;
                border-radius: 10px;
                object-fit: cover; 

                @media (max-width: 376px) {
                    border-radius: 10px;
                }
            }
            .card__title {
                position: absolute;
                width: 50%;
                height:auto;
                bottom: 8px;
                left: 16px;
                z-index:2;
                font-size: 18px;
                font-weight: 700;
                color:$color-primary;
            }
        }
    }
}